<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add animal</title>
    <link rel="stylesheet" href="/css/addAnimal.css" />
  </head>
  <body>
    <div class="container">
      <h2 class="heading">Add New Animal</h2>
      <form>
        <div class="form-element">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" />
        </div>
        <div class="form-element">
          <label for="scientific-name">Scientific Name</label>
          <input
            type="text"
            name="scientific-name"
            id="scientific-name"
            value=""
          />
        </div>
        <div class="form-element">
          <label for="about">About</label>
          <input type="text" name="about" id="about" />
        </div>
        <div class="form-element">
          <label for="image">Image URL</label>
          <input type="text" name="image" id="image" />
        </div>
        <div class="form-element">
          <label for="conservation-status">Conservation Status</label>
          <select
            name="conservation-statusme"
            id="conservation-status"
          >
          <option selected disabled>Select value</option>
        <option value="Endangered">Endangered</option>
        <option value="Not Endangered">Not Endangered</option>
        </select>
        </div>
        <div class="form-element">
          <label for="number-remaining">Number Remaining</label>
          <input type="text" name="number-remaining" id="number-remaining" />
        </div>
      </form>
      <div class="btn-section">
        <a href="/animals"><button id="cancel-btn">Cancel</button></a>
        <button id="submit-btn">Submit</button>
      </div>
    </div>

    <script src="/js/addAnimal.js"></script>
  </body>
</html>
