<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of animals</title>
    <!-- <link rel="stylesheet" href="/public/css/animals.css"> -->
  </head>
  <body>
    <div class="container">
        <section id="header">
            <h1>Endangered Animals</h1>
            <h3>+ add new</h3>
        </section>
        <section id="display-animals">
            <div class="animal">
                <img src="" alt="Animal">
                <h2>Name</h2>
                <h3>Scientific Name</h3>
                <a href=""><button>edit</button></a>
                <button>delete</button>
            </div>
        </section>
    </div>

    <script src="/js/animals.js"></script>
  </body>
</html>
