<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit animal</title>
  </head>
  <body>
    <div class="container">
      <form>
        <div class="form-element">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" value="" />
        </div>
        <div class="form-element">
          <label for="scientific_name">Scientific Name</label>
          <input
            type="text"
            name="scientific_name"
            id="scientific_name"
            value=""
          />
        </div>
        <div class="form-element">
          <label for="about">About</label>
          <input type="text" name="about" id="about" value="" />
        </div>
        <div class="form-element">
          <label for="image">Image URL</label>
          <input type="text" name="image" id="image" value="" />
        </div>
        <div class="form-element">
          <label for="conservation-status">Conservation Status</label>
          <input
            type="text"
            name="naconservation-statusme"
            id="conservation-status"
            value=""
          />
        </div>
        <div class="form-element">
          <label for="number-remaining">Number Remaining</label>
          <input
            type="text"
            name="number-remaining"
            id="number-remaining"
            value=""
          />
        </div>
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
